<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Hello Ionic!
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Digite seu texto aqui"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button color="danger"
              expand="block"
              (click)="showLoading()">Clique aqui para carregar</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar color="warning">
    <ion-title>
      Good Bye Ionic!
    </ion-title>
  </ion-toolbar>
</ion-footer>