<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Hello Ionic!
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Digite seu texto aqui"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-input type="text" clearInput placeholder="Digite o seu nome" [(ngModel)]="nome"></ion-input>
  <p *ngIf="nome">Olá mundo, {{nome}}!</p>
</ion-content>

<ion-footer>
  <ion-toolbar color="warning">
    <ion-title>
      Good Bye Ionic!
    </ion-title>
  </ion-toolbar>
</ion-footer>